# Swagger Petstore
PETSTORE_BASE_URL=https://petstore.swagger.io/v2

# SauceDemo
SAUCEDEMO_BASE_URL=https://www.saucedemo.com/
SAUCEDEMO_STANDARD_USER=standard_user
SAUCEDEMO_LOCKED_USER=locked_out_user
SAUCEDEMO_PASSWORD=secret_sauce

# Execução Web
# Use true no CI ou quando não quiser abrir o navegador localmente.
SAUCEDEMO_HEADLESS=false
SCREENSHOT_DIR=screenshots

LOGIN_USER=standard_user
LOGIN_PASSWORD=secret_sauce
